/* create account ****************************************************************************** */
#account-creation_form {padding: 10px;background:#FFF;}
#account-creation_form  fieldset {padding:0 0 15px 0; border:none;}
#account-creation_form  h3 {padding: 8px; border-bottom: 2px solid #999; font-weight: bold; font-size: 12px; text-transform: uppercase; background: #CCC;}
#center_column #account-creation_form p {margin:0; padding:0 0 10px 0;}
#account-creation_form p.required {color:#222; padding: 5px 0;}
#account-creation_form p.required  sup {color:#990000}
#account-creation_form p.radio span, #account-creation_form p.text label, #account-creation_form p.password label, #account-creation_form p.select label, #account-creation_form p.select span, #account-creation_form p.textarea label {display: inline-block;max-width: 230px;width: 40%;font-size: 14px;text-align: right;}
p.select label {padding: 0; color:#222;}
#account-creation_form p.radio label {float:none;padding-right:10px;width:auto;font-size:14px;}
#account-creation_form p.checkbox label {float:none;width:auto;font-size:12px;}
#account-creation_form p.text input, #account-creation_form p.password input, #account-creation_form p.select input {padding: 0 5px;height: 28px;border: 1px solid #CCC;font-size: 12px;color: #666;}
#account-creation_form p.checkbox input {margin-left:20%;}
#account-creation_form p.select select {margin-right: 10px;border: 1px solid #CCC;font-size: 12px;color: #666;height: 28px;max-width: 50%;}
#account-creation_form p.textarea textarea {height: 80px;width: 50%;border: 1px solid #CCC;font-size: 12px;color: #666;}
#account-creation_form p.text {padding: 5px 0;}
#account-creation_form span.form_info, #account-creation_form span.inline-infos {display:block;margin:5px 0 0 20%;color:#666;font-size: 12px;}
.eb-loading {width:32px; height:32px; padding:10px; background:url(../img/ajax-loader.gif) no-repeat;}