
/*TMP*/
#scenes .cluetip span{
	background:transparent url(../img/icon/cible.png) no-repeat scroll center center;
	color:black;
	display:block;
	font-size:1.1em;
	font-weight:bold;
	height:23px;
	padding-top:5px;
	text-align:center; 
	width:23px;
}
/*TMP*/
.thumbs_banner{
	margin:10px auto;
	padding:2px 0;
	height: 60px !important;
	width:100%;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.thumbs_banner .space-keeper{
	width:21px;
	float:left;
	display:block;
	height:100%;
}

.thumbs_banner .space-keeper a.prev{
	display:none;
	width:21px;
	text-align:center;
	font-size:1.5em;
	text-decoration:none;
	background:url(../img/icon/serial_scroll_left.gif) no-repeat 0 0 #eee;
}
#scenes_list{
	overflow:hidden;
	float:left;
	width:478px;
}
#scenes_list ul{
	list-style-type:none;
}

#scenes_list li{
	float:left;
}

#scenes_list a{
	display:block;
}

.thumbs_banner a.next {
	float:left;
	display:block;
	width:21px;
	text-align:center;
	font-size:1.5em;
	text-decoration:none;
	background:url(../img/icon/serial_scroll_right.gif) no-repeat 0 0 #ddd;
}

/* Cluetip design ****************************************************************************** */
#scenes .screen_scene {
	margin:0 auto;
}

#scenes a.cluetip{
	display:block;
	position:absolute;
	text-decoration:none;
}

.cluetip-product_scene {
	padding:10px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	text-align:left;
	background:#fff;
	opacity:0.85;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
}

.cluetip-product_scene #cluetip-close{
	text-align:right;
	float:right;
}

.cluetip-product_scene img {
	float:left;
	margin-right:10px;
}
.cluetip-product_scene h4{
	margin-bottom:5px;
	padding:2px 5px;
	font-size:14px;
	font-weight:bold;
	background:#29addd;
	color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.cluetip-product_scene .clear {margin:0; padding:0}
.cluetip-product_scene .clear a {
	/*float:left;*/
	margin-top:2px;
}

.cluetip-product_scene p.description{
	float:left;
	padding:5px;
	font-size:13px;
	color:#333
}

.cluetip-product_scene div.prices{
	float:left;
}
.cluetip-product_scene .new {
   display: inline-block;
   padding: 1px 5px;
   font-weight: bold;
   font-size: 10px;
   color: #fff;
   background: #000;
   text-transform: uppercase;
}
.cluetip-product_scene .price{
	padding:5px 0 0 5px;
	font-weight:bold;
	font-size:16px;
	color:#000
}
.cluetip-product_scene .on_sale, .cluetip-product_scene .discount {
	display:block;
	font-weight:bold;
	text-transform:uppercase;
	padding: 3px 5px;
	font-size: 12px;
	color:#29addd;
}

.cluetip-img {float:left; width:120px; padding:5px 0 5px 5px;}
.cluetip-copy {float:left; width:150px;}
/* END Cluetip design */
